   body{
        margin: 0;
        font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
h1{
    font-family: 'Trispace', sans-serif;
    font-size: 50px;
}
span{
    color: orange;
}
.partision{
display: flex;
margin-bottom: 110px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 80%;
    margin-top: 5px;
}
.link-button{
    text-decoration: none;
    background: linear-gradient( orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.half-width-notes{
    margin-right: 50px;
    text-align:justify; 
}

.dream-big-notes{
    margin-right: 130px;
    text-align: justify;
}
.last-part{
    width: 50%;
    padding-left: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 10px 10px 40px grey;
    border-left: 07px solid red;

}
.second-height{
    font-family: 'Trispace', sans-serif;
    font-size: 40px;
}
.final-part{
    border-left: 07px solid blue;
    padding-right: 10px;
}
.expriences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
    font-family: 'Trispace', sans-serif;
}